.owl-nav {
    display: flex;
    align-items: center;

    [class^=nav-] {
        display: flex;
        align-items: center;
        justify-content: center;        
        width: 32px;
        height: 32px;        
        color: #fff;     
        outline: none;
    }
}

.owl-nav--center-y {
    position: relative;

    .owl-nav {
        [class^=nav-] {
            position: absolute;
            top: 50%;
            margin-top: -16px;
            background: rgba(0, 0, 0, 0.4);
            outline: none;

            &.nav-prev {
                left: 8px;
            }
            
            &.nav-next {
                right: 8px;
            }
        }
    }
}

.owl-nav--circle {
    .owl-nav {
        [class^=nav-] {
            border-radius: 50%;
        }
    }
}

.owl-nav--spacing {
    .owl-nav {
        a, button {
            + a, + button {
                margin-left: 4px;
            }
        }
    }
}

.owl-nav--outside {
    
    .owl-nav {
        .nav-prev {
            transform: translateX(-120%);
        }

        .nav-next {
            transform: translateX(120%);
        }

        [class^=nav-] {
            transition: .24s ease-in;   
        }
    }
}