// $icon-size = 22px;

.mdi--circle {
    border: 1px solid $border-color;
    border-radius: 50%;    
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        width: $icon-w;
        height: $icon-w;
        display: flex;    
        align-items: center;
        justify-content: center;
    }
}