.footer {
    background: hsla(0, 0%, 10%, 1);
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: #888;
    font-weight: 300;
    padding: 2em 0;

    a {
        color: #888;

        &:hover {
            color: #fff;
        }
    }

    .footer-header {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 1em;
    }
}

.link-list {
    a {
        display: inline-block;   
        padding: 4px 0;    
    }

    // > div + div {
    //     margin-top: 8px;
    // }
}

.tags-cloud {
    a {
        border: 1px solid rgba(255, 255, 255, 0.2);
        display: inline-block;
        padding: 2px 6px;
        margin-bottom: 4px;
        font-size: .8em;

        &:hover {
            background: #fff;
            color: #000 !important;
        }
    }
}

.contact-detail {
    display: flex;

    .contact-icon {
        width: 32px;
        display: inline-block;
    }
    
    > div {
        flex: 1;
    }

    + .contact-detail {
        margin-top: 8px;
    }
}

.hotline {
    display: inline-block;
    font-size: 3em;
    font-weight: 800;
    color: #f42;   
}