.menu { 
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    &.root-menu {
        > li {
            > a {
                text-transform: uppercase;
                color: $main-color;

                &:hover {
                    color: $main-color-hover;
                }
            }
        }        
    }

    a {
        display: block;        
        padding: 16px 10px;       
        font-size: 80%;
        font-size: 0.9em;
        font-weight: 600;
        text-decoration: none;
    }

    .child-menu {       
        position: absolute;
        top: 100%;
        left: 0;
        white-space: nowrap;
        display: block;
        padding: 8px 0;
        transition: .2s;
        opacity: 0;
        visibility: hidden;
        background: #000;        
    }

    li {
        &.has-child {
            position: relative;
            z-index: $menu-index;

            > a:after {
                content: "\F140";
                display: inline-block;
                font: normal normal normal 24px/1 "Material Design Icons";
                font-size: inherit;
                text-rendering: auto;
                line-height: inherit;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2px;
                background: red;
                display: block;
                transition: .2s;
                transform: scaleX(0);
                transform-origin: center;
                content: '';
            }

            .menu {
                display: block;

                a {
                    padding: 8px 16px;
                    color: #e3e3e3;    

                    &:hover {
                        background: #fff;
                        color: #000;
                    }
                }
            }

            &:hover {
                &:after {    
                    transform: scaleX(1);
                }

                .child-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }    
}

.link-collection {
    .link-collection-item {
        display: block;
        padding: 8px 16px;
        color: #888;
        border-top: 1px solid #eee;
        position: relative;

        &:after {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            position: absolute;            
            left: 100%;
            top: 50%;
            margin-top: -8px;
            border: 8px solid #fff;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: none;
            transition: 0.3s;
            transform: scaleX(0);
            transform-origin: left;
        }

        &.active, &:hover {
            color: #000;

            &:after {
                transform: scaleX(1);
            }
        }
    }
}