.news {
    display: flex;    
    border-top: 1px solid darken($news-bg, 5%);
    padding: 16px 0;
    margin: 0 16px;

    .news--title {
        flex: 1;
        margin-left: 8px;

        h4 {
            margin: 0;
            font-size: .9em;
            font-weight: 400;
        }

        time {
            font-size: .8em;
            color: #aaa;
        }

        a {    
            color: #333;    
            font-weight: 300;
        }
    }

    .news--cover {
        display: block;

        img {
            max-width: $news-cover-w; // 48px;
            width: $news-cover-w; // 48px;
            height: $news-cover-w; // 48px;
        }
    }

    .news--title h4 {
        margin: 0;
        font-size: .9em;
        font-weight: 400;
    }
    
    .news--title {
        margin-left: 8px;
    }
}

.sidebar-news {
    background: $news-bg;    
    border-top: 2px solid;

    header {    
        padding: 16px;
        color: $main-color;
        text-transform: uppercase;
    }

    .sidebar--footer {
        padding: 16px;
        color: $main-color;
        background: darken($color: $news-bg, $amount: 4%);
    }
}