$news-small-color: #888;
$news-title-color: #181818;

.news {    
    display: flex;

    .news__cover {
        width: 120px;
        height: 120px;
        display: block;

        img {
            max-width: 100%;            
        }
    }

    .news__body {
        flex: 1;
        margin-left: 16px;

        .news-title {
            margin: 0;
            margin-bottom: 4px;            
            font-size: 1.2em;

            a {
                display: block;
                font-size: 1em;
                color: $news-title-color;
                font-weight: bold;
            }
        }
    }

    .news-tags {
        a {
            color: $news-small-color;
        }
    }

    .news-time {
        color: $news-small-color;
    }
}