.slider {
    height: 400px;
    background: $main-color;

    .slider-item {        
        position: relative;
        overflow: hidden;
        max-height: 513px;

        &:before {
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.36));
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            width: 100%;
            height: 40%;
            pointer-events: none;
        }
    }
    
    .slider-item-details {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;

        h3 {
            margin: 0;
            padding: 1em;

            a {
                display: block;
                max-width: 80%;
                font-weight: bold;
                text-decoration: none;
                color: #fff;
                transition: .6s;
                letter-spacing: 0;
                //opacity: 0;        
            }
        }

        &:hover a {
            letter-spacing: 2px;
            //opacity: 1;
            //transform: translateX(0);
        }
    }
    
    .slider-item-cover {
        margin: 0;        
        position: relative;

        a {
            display: block;
            cursor: pointer;
        }

        img {
            max-width: 120%;   
            min-width: 110%;
            min-height: 110%;
        }

        &:before {
            background: rgba(0, 0, 0, 0.2);
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all 500ms;
            transition: all 500ms;            
        }

        &:hover {
            &:before {
                background: rgba(28, 3, 3, 0.27);
            }
        }
    }
}