.widget {   
    background: #fff;

    .widget__header {
        padding: 8px 16px;
        font-size: 1.4em;
    }
    
    .widget__footer {        
        display: flex;
        align-items: center;

        a {
            flex: 1;            
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 16px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: .8em;
            background: #fcfcfc;
        }
    }

    .widget-item  {        
        + .widget-item {
            margin-top: 16px;
        }
    }
}