.form-control,
.form-control:focus,
.form-control:active {
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

.mdi--circle {
  border: 1px solid #eee;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .mdi--circle:before {
    width: 22px;
    height: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

button {
  border-radius: 0; }
  button.btn {
    border-radius: 0; }

.owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 2; }

.owl-carousel.carousel--nav .owl-nav button[type=button][class*=owl] {
  border: 1px solid #4caf50;
  padding: 4px 8px !important;
  margin-left: 4px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .owl-carousel.carousel--nav .owl-nav button[type=button][class*=owl]:hover {
    background: #4caf50;
    color: #fff; }
  .owl-carousel.carousel--nav .owl-nav button[type=button][class*=owl].disabled {
    background: #eee;
    border-color: #eee;
    color: #aaa; }

.z-depth-0 {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.z-depth-1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }

.z-depth-1-half {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }

.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.z-depth-3 {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

.z-depth-4 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2); }

.z-depth-5 {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2); }

.hoverable {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s; }

.hoverable:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.border--bottom {
  border-bottom: 1px solid #eee; }

.fs-sm {
  font-size: .9em; }

.tc-main {
  color: #4caf50 !important; }
  .tc-main:hover {
    color: #6ec071 !important; }

.bg-main {
  background-color: #4caf50 !important; }
  .bg-main:hover {
    background-color: #6ec071 !important; }

.em-1 {
  font-size: 1em; }

.stuck {
  position: fixed;
  top: 0;
  z-index: 2010; }

.header-search-container {
  -webkit-box-shadow: 0 0 32px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 32px 1px rgba(0, 0, 0, 0.2); }
  @media only screen and (min-width: 992px) {
    .header-search-container {
      max-width: 220px; } }
  .header-search-container .head {
    background: #4caf50;
    color: #fff;
    font-size: 0.8em; }
  .header-search-container .content {
    background: #eee; }
  .header-search-container .foot .form-control {
    width: calc(100% - 32px); }

.banner {
  display: block;
  text-decoration: none; }
  @media only screen and (min-width: 768px) {
    .banner.banner--top img {
      max-width: 620px; } }

.brand {
  display: block; }
  .brand .logo {
    max-width: 200px; }

.nav-container {
  background: #4caf50; }

.menu {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  position: relative;
  z-index: 2000; }
  @media only screen and (max-width: 992px) {
    .menu {
      overflow: hidden; } }
  .menu.menu-root > li:hover {
    background-color: #63bb66;
    background-color: #6ec071; }
  .menu li.has-child {
    position: relative;
    padding-right: 16px; }
    .menu li.has-child:after {
      content: '';
      background: url(../../images/chevron-down-white.svg);
      width: 24px;
      height: 24px;
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -12px;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
    .menu li.has-child:hover:after {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .menu li.has-child:hover > .child {
      display: block;
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
      .menu li.has-child:hover > .child.child--horizontal {
        -webkit-transform: translateX(0);
                transform: translateX(0); }
  .menu li a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0 12px;
    font-size: .8em;
    font-weight: 600;
    text-decoration: none;
    color: #fff; }
  .menu .child {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 250px;
    padding-top: 8px;
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
    background: transparent;
    -webkit-transform: translateY(16px);
            transform: translateY(16px); }
    .menu .child.child--horizontal {
      top: 0;
      left: 100%;
      padding: 0;
      padding-left: 8px;
      -webkit-transform: translateY(0) translateX(16px);
              transform: translateY(0) translateX(16px); }
    .menu .child .has-child:after {
      background: url(../../images/chevron-down.svg);
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
    .menu .child .has-child:hover:after {
      -webkit-transform: rotate(-270deg);
              transform: rotate(-270deg); }
    .menu .child .menu {
      display: block;
      -webkit-box-shadow: 0px 0px 32px 0 rgba(0, 0, 0, 0.3);
              box-shadow: 0px 0px 32px 0 rgba(0, 0, 0, 0.3);
      background: #fff; }
      .menu .child .menu a {
        color: #000; }
        .menu .child .menu a:hover {
          color: #4caf50; }
  .menu .menu-child li + li {
    border-top: 1px dashed #eee; }

.slider {
  height: 400px;
  background: #4caf50; }

.block-container {
  border: 1px solid #eee;
  border-left: none;
  border-right: none;
  min-height: 80px; }
  @media only screen and (min-width: 768px) {
    .block-container {
      margin: 8px 0; } }
  @media only screen and (min-width: 768px) {
    .block-container.block-container-border-right {
      border-right: 1px solid #eee; } }

.socials a {
  display: block;
  color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center; }
  .socials a + a {
    margin-left: 8px; }
.socials .facebook {
  background: #3b5998; }
.socials .twitter {
  background: #55acee; }
.socials .google-plus {
  background: #dd4b39; }
.socials.socials--big a {
  width: 48px;
  height: 48px;
  line-height: 48px; }

.cell-container {
  width: 300px;
  min-width: 300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-box-shadow: 4px 3px 9px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 3px 9px 0 rgba(0, 0, 0, 0.1);
  margin: 32px 0; }
  .cell-container:hover {
    -webkit-box-shadow: 0 0 32px 6px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 32px 6px rgba(0, 0, 0, 0.3); }
    .cell-container:hover .cell--body-cover .cover-back {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
      visibility: visible; }
    .cell-container:hover .cell--body-cover .cover-front {
      -webkit-transform: translateX(-25%);
              transform: translateX(-25%);
      opacity: 0;
      visibility: hidden; }
  .cell-container .cell--header {
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .cell-container .cell--header.is-hot {
      background: url(../../images/hot.gif) 95% center no-repeat; }
  .cell-container .cell--body-cover {
    display: block;
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 300px; }
    .cell-container .cell--body-cover img {
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      min-width: 300px;
      min-height: 300px;
      -o-object-fit: cover;
         object-fit: cover; }
      .cell-container .cell--body-cover img.cover-back {
        -webkit-transform: translateX(25%);
                transform: translateX(25%);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden; }
  .cell-container .cell--footer {
    padding: 16px; }
    .cell-container .cell--footer .cell--footer-line {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .cell-container .cell--footer .cell--footer-line strong {
        min-width: 64px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-right: 4px; }
        .cell-container .cell--footer .cell--footer-line strong:after {
          content: ':'; }
      .cell-container .cell--footer .cell--footer-line span {
        color: #f42;
        font-weight: bold; }
  .cell-container .cell--body {
    overflow: hidden; }

.grid--line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .grid--line .cell-container + .cell-container {
    margin-left: 32px; }

.grid-container-cell .cell-container {
  width: calc(100% / 4);
  min-width: calc(100% / 4);
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0 16px; }
  .grid-container-cell .cell-container:hover {
    -webkit-box-shadow: 0 0 32px 6px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 32px 6px rgba(0, 0, 0, 0.3); }
  .grid-container-cell .cell-container .cell--header {
    padding-left: 0;
    padding-right: 0; }

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #dff7e1;
  padding: 16px 0;
  margin: 0 16px; }
  .news .news--title {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 8px; }
    .news .news--title h4 {
      margin: 0;
      font-size: .9em;
      font-weight: 400; }
    .news .news--title time {
      font-size: .8em;
      color: #aaa; }
    .news .news--title a {
      color: #333;
      font-weight: 300; }
  .news .news--cover {
    display: block; }
    .news .news--cover img {
      max-width: 48px;
      width: 48px;
      height: 48px; }
  .news .news--title h4 {
    margin: 0;
    font-size: .9em;
    font-weight: 400; }
  .news .news--title {
    margin-left: 8px; }

.sidebar-news {
  background: #f3fcf4;
  border-top: 2px solid; }
  .sidebar-news header {
    padding: 16px;
    color: #4caf50;
    text-transform: uppercase; }
  .sidebar-news .sidebar--footer {
    padding: 16px;
    color: #4caf50;
    background: #e3f8e5; }

.cover--container .cover {
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  display: block; }
  .cover--container .cover img {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -o-object-fit: cover;
       object-fit: cover; }
    .cover--container .cover img.cover-back {
      -webkit-transform: translateX(25%);
              transform: translateX(25%);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0 !important;
      visibility: hidden; }
.cover--container:hover .cover img.cover-back {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1 !important;
  visibility: visible; }
.cover--container:hover .cover img.cover-front {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  opacity: 0 !important;
  visibility: hidden; }

.proj {
  width: 200px; }
  .proj img {
    max-width: 200px;
    min-width: 200px; }
  .proj .proj__title {
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    padding: 8px 0;
    color: #000; }
    .proj .proj__title h5 {
      font-size: 0.9em;
      font-weight: 600;
      margin: 0; }
  .proj .proj__location {
    text-transform: capitalize;
    font-size: .9em; }

.projects.owl-carousel button.owl-dot {
  width: 32px;
  height: 4px;
  display: block;
  background: #eee; }
  .projects.owl-carousel button.owl-dot.active {
    background: #4caf50; }
  .projects.owl-carousel button.owl-dot + .owl-dot {
    margin-left: 4px; }
  @media only screen and (max-width: 768px) {
    .projects.owl-carousel button.owl-dot {
      width: 24px; } }
.projects.owl-carousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  top: -19px; }
  @media only screen and (max-width: 768px) {
    .projects.owl-carousel .owl-dots {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start; } }

.section .section__header {
  margin: 2em 0 1em;
  text-transform: uppercase; }

.footer {
  border-top: 2px solid #4caf50;
  padding-bottom: 64px;
  margin-top: 2em; }
  .footer .footer__title {
    font-size: 1.1em;
    font-weight: 700;
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 8px; }
    .footer .footer__title:after {
      position: absolute;
      top: 100%;
      left: 0;
      height: 2px;
      width: 64px;
      background: #4caf50;
      display: block;
      content: ''; }
  .footer .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .contact .contact__icon {
      width: 32px;
      color: #4caf50; }
  .footer .col-footer {
    padding-top: 2em;
    padding-bottom: 2em; }

.footer--fixed {
  border-bottom: 8px solid #4caf50;
  position: fixed;
  bottom: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  z-index: 100; }
  @media only screen and (max-width: 768px) {
    .footer--fixed {
      position: static; } }

.quick-contact {
  position: fixed;
  bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
  .quick-contact img {
    width: 24px; }
  .quick-contact .qc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #4caf50;
    color: #fff;
    border-radius: 8px 8px 0 0;
    min-width: 32px;
    padding: 4px 8px;
    white-space: nowrap;
    text-decoration: none; }
    .quick-contact .qc:hover {
      background: #6ec071; }
    .quick-contact .qc .call-phone {
      font-size: 14px; }
    .quick-contact .qc + .qc {
      margin-left: 4px; }
    .quick-contact .qc h6, .quick-contact .qc div {
      font-size: 10px;
      text-transform: uppercase;
      margin: 0; }
    .quick-contact .qc > div {
      margin-left: 8px;
      text-align: center; }
    .quick-contact .qc .icon {
      font-size: 1.5em; }
  @media only screen and (max-width: 768px) {
    .quick-contact {
      position: static;
      -webkit-transform: none;
              transform: none; } }
  @media only screen and (min-width: 1900px) {
    .quick-contact {
      -webkit-transform: translateX(100%);
              transform: translateX(100%); } }

.scroll-top-button {
  width: 40px;
  height: 40px;
  border: 1px solid #4caf50;
  text-align: center;
  position: fixed;
  bottom: 120px;
  right: 0;
  color: #fff;
  background: #4caf50;
  border-radius: 4px 0 0 4px;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%); }
  .scroll-top-button.active {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .scroll-top-button:hover {
    color: #f2f2f2; }

.hotline {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4caf50;
  font-size: 1.5em;
  color: #fff;
  border-radius: 50%;
  position: fixed;
  bottom: 115px;
  right: 120px;
  -webkit-box-shadow: 0 0 0 8px rgba(76, 175, 80, 0.3);
          box-shadow: 0 0 0 8px rgba(76, 175, 80, 0.3);
  -webkit-animation: waves 2s ease both infinite;
          animation: waves 2s ease both infinite;
  z-index: 101; }
  .hotline:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: waves-sm 1s ease both infinite;
            animation: waves-sm 1s ease both infinite;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    z-index: 102; }
  .hotline:hover {
    color: #fff; }

@-webkit-keyframes waves {
  0%, 100% {
    -webkit-box-shadow: 0 0 0 48px rgba(76, 175, 80, 0.3);
            box-shadow: 0 0 0 48px rgba(76, 175, 80, 0.3);
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-box-shadow: 0 0 0 0px rgba(76, 175, 80, 0.1);
            box-shadow: 0 0 0 0px rgba(76, 175, 80, 0.1);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); } }

@keyframes waves {
  0%, 100% {
    -webkit-box-shadow: 0 0 0 48px rgba(76, 175, 80, 0.3);
            box-shadow: 0 0 0 48px rgba(76, 175, 80, 0.3);
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-box-shadow: 0 0 0 0px rgba(76, 175, 80, 0.1);
            box-shadow: 0 0 0 0px rgba(76, 175, 80, 0.1);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); } }
@-webkit-keyframes waves-sm {
  0%, 100% {
    -webkit-box-shadow: 0 0 0 24px rgba(76, 175, 80, 0.6);
            box-shadow: 0 0 0 24px rgba(76, 175, 80, 0.6);
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-box-shadow: 0 0 0 0px rgba(76, 175, 80, 0.3);
            box-shadow: 0 0 0 0px rgba(76, 175, 80, 0.3);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); } }
@keyframes waves-sm {
  0%, 100% {
    -webkit-box-shadow: 0 0 0 24px rgba(76, 175, 80, 0.6);
            box-shadow: 0 0 0 24px rgba(76, 175, 80, 0.6);
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-box-shadow: 0 0 0 0px rgba(76, 175, 80, 0.3);
            box-shadow: 0 0 0 0px rgba(76, 175, 80, 0.3);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); } }
ol.breadcrumb {
  margin: 0;
  border-radius: 2px;
  background: #edf7ee;
  background: #eaf6eb; }
  ol.breadcrumb a {
    color: #000; }
  ol.breadcrumb li.active {
    color: #4caf50; }

html, body {
  font-family: 'Roboto Condensed', serif; }

.jump-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .jump-menu li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .jump-menu li :before {
      content: '';
      display: block;
      border-left: 1px solid;
      width: 1px;
      height: 50%; }
    .jump-menu li:first-child:before {
      content: none; }
  .jump-menu a {
    display: block;
    padding: 12px 16px;
    text-transform: uppercase;
    font-size: .85em;
    font-weight: 600;
    color: #fff; }
    .jump-menu a:hover {
      background: #6ec071;
      text-decoration: none; }
    .jump-menu a.active {
      color: #4caf50;
      background: #fff; }

.proj__nav {
  background: #4caf50;
  color: #fff; }

.proj-section {
  margin-top: 2em; }
  .proj-section .title {
    margin: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #4caf50; }
    .proj-section .title span {
      background: #4caf50;
      color: #fff;
      font-size: 1.2rem;
      display: inline-block;
      padding: 8px 16px; }
  .proj-section img {
    max-width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
    height: auto;
    border: 1px solid #4caf50;
    padding: 4px;
    margin: auto;
    display: block; }
    .proj-section img + img {
      margin-top: 1em; }
  .proj-section article {
    padding: 1em 0; }

/*# sourceMappingURL=styles.css.map */